/* blue_color600:
$blue_color500:#4E57D3;
$secondary_color:#7883FF;
$primary_text:#262626;
$secondary_text:#6E7087;
$disable_text:#8c8c8c;
$outline:#d9d9d9;
$white_color:#fff; */
:root{
    --blue_color600: #0A1966;
    --blue_color500:#4E57D3;
    --secondary_color:#7883FF;
    --primary_text:#262626;
    --secondary_text:#6E7087;
    --disable_text:#8c8c8c;
    --outline:#d9d9d9;
    --grey100:#e4e4e4;
    --white_color:#f6f6f6;
    --pure_white:#fff;
    --red_color:rgb(177, 4, 4);
    --green_color:rgb(0, 105, 49);
}
.primary_text{
    color: var(--primary_text);
}
.secondary_text{
    color: var(--secondary_text);
}
.primary_text{
    color: var(--primary_text);
}