/* blue_color600:
$blue_color500:#4E57D3;
$secondary_color:#7883FF;
$primary_text:#262626;
$secondary_text:#6E7087;
$disable_text:#8c8c8c;
$outline:#d9d9d9;
$white_color:#fff; */
:root{
    --blue_color600: #0A1966;
    --blue_color300:#3A4063;
    --blue_color500:#4E57D3;
    --blue_color400:#7883FF;
    --blue_color200:#2B85FF;
    --blue_color100:#DBD9E6;
    --secondary_color:#7883FF;
    --primary_text:#212327;
    --secondary_text:#8F9192;
    --disable_text:#8c8c8c;
    --outline:#d9d9d9;
    --grey:#F5F5F5;
    --grey100:#e4e4e4;
    --grey200:#efefef;
    --white_color:#fdfdfd;
    --pure_white:#fff;
    --red_color:#FF4642;
    --yellow_color:#FFC94B;
    --purple_color:#8A38CB;
    --warning:rgb(177, 4, 4);
    --success:rgb(0, 105, 49);
}
.primary_text{
    color: var(--primary_text);
}
.secondary_text{
    color: var(--secondary_text);
}
.primary_text{
    color: var(--primary_text);
}