* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary_text);
}

.container{
    max-width: 2000px;
    padding: 0 5%;
}
.flex{
    display: flex;
    align-items: center;
}
.flex_direction_column{
    flex-direction: column;
}
